.main-container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.arrow-buttons {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-button {
  margin: 10px 0px 10px 0px;
}

.submit {
}
