<!-- Táblás megoldás -->
<table mat-table [dataSource]="players">
  <ng-container matColumnDef="PlayerDisplayName">
    <th mat-header-cell *matHeaderCellDef>Játékos Neve</th>
    <td
      mat-cell
      *matCellDef="let player"
      [class.mat-row-selected]="selection.isSelected(player)"
      (click)="$event ? selection.toggle(player) : null"
    >
      {{ player.displayname }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Selection">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        color="primary"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      ></mat-checkbox>
    </th>
    <td
      mat-cell
      *matCellDef="let player"
      [class.mat-row-selected]="selection.isSelected(player)"
    >
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(player) : null"
        [checked]="selection.isSelected(player)"
      ></mat-checkbox>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let player; columns: columnsToDisplay"></tr>
</table>
