<app-edit-group
  [groupChange$]="this.groupSelected$"
  (deleteGroup)="onGroupDelete($event)"
></app-edit-group>
<mat-form-field appearance="outline" [formGroup]="form">
  <mat-select
    (selectionChange)="onGroupSelection($event.value)"
    formControlName="groupFilter"
  >
    <mat-option *ngFor="let group of nonDeletedGroups" [value]="group">{{
      group.name
    }}</mat-option>
  </mat-select>
  <!-- <mat-hint>Válassz csoportot...</mat-hint> -->
  <mat-label></mat-label>
  <mat-icon matPrefix>groups</mat-icon>
</mat-form-field>
<div [formGroup]="form" style="display: inline-block">
  <mat-checkbox
    class="select-all-checkbox"
    (change)="onSelectAll($event.checked)"
    formControlName="checkAll"
    [indeterminate]="someChecked()"
    [checked]="allChecked()"
  ></mat-checkbox>
</div>
<mat-selection-list
  class="selection-list"
  #playerSelection
  (selectionChange)="onPlayerSelected(playerSelection.selectedOptions.selected)"
  dense
  [(ngModel)]="selectedPlayers"
>
  <mat-list-option *ngFor="let player of filteredPlayers" [value]="player">{{
    player.displayname
  }}</mat-list-option>
</mat-selection-list>
